.homepage {
    background-image: url('https://images.pexels.com/photos/15774694/pexels-photo-15774694/free-photo-of-wild-urban-cat-sitting-on-wall.jpeg?auto=compress&cs=tinysrgb&w=1200');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
    animation: fadeIn 1s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h1 {
    font-size: 3rem;
    color: #ffffff;
  }
  
  p {
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #ff6347;
  }
  